@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

:root {
  --lb: #222;
  --gr: #636363;
}
::selection {
  color: white;
  background: grey;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  color: var(--lb);
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
html, body {
  height: 100%;
  font-size: 1vw;
}
body {
  line-height: 1.5;
  font-family: 'Rambla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  block-size: auto;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
#root, #__next {
  isolation: isolate;
  height: max-content;
  padding-block: 10px 20px;

  /*display: flex;
  flex-direction: column;*/
}

/* css reset over */

/* -------------------------global css------------------------ */
.containers {
  padding-inline: 7%;
}

/* ----------------------------header---------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header > a {
  font-size: 3rem;
}
header > nav {
  display: flex;
  justify-content: space-between;
}
header > nav > a {
  margin-inline-start: 50px;
  font-size: 1.8rem;
}

/* --------------------------searchBar----------------------------- */
.searchBarCont {
}
.searchBarCont > #search {
  outline: solid 1px rgba(200, 200, 200, 1);
  border: none;
  width: 100%;
  padding-inline: 2%;
  padding-block: .7%;
  border-radius: 10px;
  font-size: 1.4rem;
}

/* -------------------------------productCont------------------------- */
.productCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.productCard {
  border: solid 1px lightgrey;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
}

.productImg > img {
  border-radius: 10px;
}
.productInfo {
  display: grid;
  grid-template-rows: 1fr repeat(3, .6fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  padding-inline: 10px;
  margin-block-start: 2%;
  font-size: 100%;
}
.productInfo > h3 {
  grid-column: 1 / span 2;
  font-size: 2em;
  margin-block-end: 4%;
}
.productInfo > span {
  padding-inline: 10px;
  font-size: 1.4em;
}
.productInfo .price {
  justify-self: end;
}


/* ------------------------contact----------------------- */
.contactCont {
  display: flex;
  justify-content: space-around;
}

#mapContact {
  border: 0;
  border-radius: 10px;
}

.contactDetailsCont {
  display: flex;
  flex-direction: column;

  width: 35%;
}

.contactDetailsCont > .contactHeading {
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
}

.contactDetailsCont > .contactitem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  font-size: 17px;
  margin-block: 13px;
}

.contactitem > .contactData > span > a {
  color: var(--gr);
}
.contactitem > .contactData > span:nth-child(2) {
  margin-inline-start: 5%;
}

.contactDetailsCont > .bi {
  cursor: pointer;
}